groups:
  engine-update:
    - engine::resource::ResourceLoader

    - InputWASDPositionController
    - InputQEScaleController
    - CopyPositionFrom
    - engine::graphics::SyncCameraWithMainWindow
    - UpdateBBox
    - UpdateMap
  engine-draw-begin:
    - engine::graphics::RenderSokolBegin
    - engine::graphics::RenderSokolDraw
  engine-draw-end:
    - engine::graphics::RenderSokolEnd
order:
  - group.engine-update
  - group.engine-draw-begin
  - ImguiTest
  - group.engine-draw-end

