name: Build and Deploy on GH-Pages
on:
  push:
    branches:
      - master

env:
  EM_VERSION: 4.0.7
  EM_CACHE_FOLDER: "emsdk-cache"
  CPM_SOURCE_CACHE: "cpm-cache"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup emsdk cache
        id: cache-system-libraries
        uses: actions/cache@v4.2.3
        with:
          path: ${{env.EM_CACHE_FOLDER}}
          key: emsdk-${{env.EM_VERSION}}-${{ runner.os }}
      - name: Setup cpm cache
        uses: actions/cache@v4.2.3
        with:
          path: ${{env.CPM_SOURCE_CACHE}}
          key: cpm-${{ hashFiles('third_party/**/CMakeLists.txt') }}
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: ${{env.EM_VERSION}}
          actions-cache-folder: ${{env.EM_CACHE_FOLDER}}
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2.0.2
        with:
          cmake-version: '3.31.2'
      - name: Configure project
        run: |
          cmake -Bbuild -G Ninja \
            -DCMAKE_TOOLCHAIN_FILE="${{env.EM_CACHE_FOLDER}}/emsdk-main/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_EXE_LINKER_FLAGS="-flto" \
            -DCMAKE_C_FLAGS="-flto -fno-rtti" \
            -DCMAKE_CXX_FLAGS="-flto -fno-rtti" \
            -DCMAKE_C_FLAGS_RELEASE="-Oz" \
            -DCMAKE_CXX_FLAGS_RELEASE="-Oz"
      - name: Build
        run: cmake --build build --parallel --target wip
      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: emscripten-wip
          path: |
            build/src/wip/wip.js
            build/src/wip/wip.wasm

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: emscripten-wip
          path: gh-pages
      - name: Build gh-pages
        run: |
          sed 's|@@APP_URL@@|wip.js|g' gh-pages.template.html > gh-pages/index.html
      - name: Deploy gh-pages
        id: deployment
        uses: actions/deploy-pages@v4
